@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/uendno\/Sourcecode\/gotit-udacity-fullstack-nanodegree\/ItemCatalog\/app\/static\/main\.scss}line{font-family:\000031}}
#header {
  width: 100vw;
  height: 80px;
  background-color: blue; }
