<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog App</title>
    {% assets "main_css" %}
    <link href="{{ ASSET_URL }}" type="text/css" rel="stylesheet"/>
    {% endassets %}
    {% block vendor_scripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
{% block head %}
<div id="header">
    <div class="header-content">
        <a href="/">
             <h2 class="header-title">Catalog App</h2>
        </a>

        {% if logged_in == True %}
        <button class="header-login-button" onclick="window.location.href='/gdisconnect'">Logout</button>
        {% else %}
        <button class="header-login-button" onclick="window.location.href='/login'">Login</button>
        {% endif %}

    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}

{% assets "main_js" %}
<script src="{{ ASSET_URL }}" type="text/javascript"></script>
{% endassets %}
</body>
</html>