{% extends "layout.html" %}
{% block vendor_scripts %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="login-wrapper">
    <div class="login-inner">
        <h5>Login with Google</h5>
        <button id="signinButton">Sign in with Google</button>
        <p id="wait" hidden>Please wait...</p>
    </div>
</div>
<script>

    function start() {
        gapi.load('auth2', function () {
            auth2 = gapi.auth2.init({
                client_id: '384833506007-cuilc58smbb9vc12sohems8tqcbjo93a.apps.googleusercontent.com'
            })
        })
    }

    function signInCallback(authResult) {

        debugger;

        if (authResult['code']) {
            $('#signinButton').css('display', 'none');
            $('#wait').show();
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{ STATE }}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function (result) {
                    if (result) {
                        window.location.href = '/';
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    }
                }
            })
        } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
    }

    $('#signinButton').click(function () {
        // signInCallback defined in step 6.
        auth2.signIn().then(signInCallback);
    });

</script>


<script src="https://apis.google.com/js/client:platform.js?onload=start"></script>
{% endblock %}